.logotipo{
    border-bottom: .8px solid #d3d3d3;
    padding: 5px;
}

.menu-principal{
    display: flex;
    font-family: calibri;
    justify-content: end;
    padding: 15px;
}

a{
    color: #4b4b4b;
    padding: 10px;
    font-weight: 400;

}

.titulo{
    background-image:"C:\Users\PILARES\Documents\web-yazuri\Moodle 2\img\hero.jpg";
}

h1{
    display: grid;
    grid-template-columns: 325px 436px;
    grid-template-rows: 55px 45px 120px 45px;
}

.elemento1{
    grid-column:1/3;
    font-size: 45px;
}
.elemento2{
    align-items: end;
    font-size: 45px;
}
.elemento3{
    align-items: start;
    font-size: 60px;
}

.abajo{
    text-align: center;
    font-family: calibri;
}

h2{
    color:#B29E50;
}

.primerrenglon{
    font-weight: 800;
    color:#55534A ;

}

.segundorengon{
    color: #4b4b4b;
    font-size: larger;
}
